### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

01 - Software/selenium-server-4.43.0.jar
01 - Software/testng-7.12.0.jar

02 - Selenium Webdriver/selenium-java-testng/libraries/selenium-server-4.41.0.jar
02 - Selenium Webdriver/selenium-java-testng/libraries/selenium-server-standalone-3.141.59.jar
02 - Selenium Webdriver/selenium-java-testng/libraries/testng-7.12.0.jar